<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem id="menu_kkn_electricity_root"
              name="Electricity"
              web_icon="kkn_electricity_module,static/description/icon.png"
              sequence="1"/>

    <menuitem id="menu_kkn_electricity_operations_root"
              name="Operations"
              parent="menu_kkn_electricity_root"
              sequence="0"/>

    <menuitem id="menu_kkn_electricity_reporting_root"
              name="Reporting"
              parent="menu_kkn_electricity_root"
              sequence="1"/>

    <menuitem id="menu_kkn_electricity_configuration_root"
              name="Configuration"
              parent="menu_kkn_electricity_root"
              sequence="2"/>
</odoo>