<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Top menu item -->
        <menuitem name="Fuel" id="kkn_fuel_module.menu_root"
            web_icon="kkn_fuel_module,static/description/fuel.png"
            sequence="1"
        />
        <!-- menu categories -->
        <menuitem name="Operations" id="kkn_fuel_module.menu_1" sequence="0"
            parent="kkn_fuel_module.menu_root"
            action="kkn_fuel_module.assign_fuel_card_action_window" />

        <menuitem name="Reporting" id="kkn_fuel_module.menu_2" parent="kkn_fuel_module.menu_root"
            sequence="1" action="kkn_fuel_module.assign_fuel_card_action_window" />

        <menuitem name="Configuration" id="kkn_fuel_module.menu_3"
            parent="kkn_fuel_module.menu_root" sequence="2" action="kkn_fuel_module.assign_fuel_card_action_window"
        />

   

 


        <!-- <menuitem name="Server to list" id="kkn_fuel_module" parent="kkn_fuel_module.menu_2"
                  action="kkn_fuel_module.action_server"/> -->


    </data>


</odoo>